DATABASE_URL="postgresql://user:password@localhost:5432/db_name?schema=public"
PORT=3000
JWT_SECRET=your_access_secret_key
JWT_REFRESH_SECRET=your_refresh_secret_key
APP_NAME=ExpressApp
APP_URL=http://localhost:3000
